@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: black;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap : 2rem
}

.cardt {
    opacity: 0.7;
}

.main-card {
    // border: 2px red solid;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 3rem;
    width: 80%;
    justify-content: start;

}

.error {
    background-image: url("../assets/we.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color:  black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2rem;
    font-family: 'Silkscreen', cursive;
    & p{
            margin-top:  4rem;
    }
   
}

